<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Name" value="ECC"/>
    <add key="AppServerHost" value=""/>
    <add key="SystemNumber" value="00"/>
    <add key="SystemID" value=""/>
    <add key="User" value=""/>
    <add key="Password" value=""/>
    <add key="Client" value="800"/>
    <add key="SAPRouter" value=""/>
    <add key="Language" value="TR"/>
    <add key="PoolSize" value="10"/>
    <add key="MaxPoolSize" value="100"/>
    <add key="IdleTimeout" value="600"/>
  </appSettings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <requiredRuntime version="v4.0.20506"/>
  </startup>
</configuration>
